{% extends 'base.html' %}

{% block content %}


{% include 'includes/alerts.html' %}
<!-- Main Section Start -->
<div class="main-section">
    {% include 'customers/cover.html' %}
    <div class="page-section account-header buyer-logged-in">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">

                    <!-- LOAD SIDEBAR -->

                    {% include 'includes/customer_sidebar.html' %}

                    
                </div>
                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                    <div class="user-dashboard loader-holder">
                        <div class="user-holder">
                           
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Main Section End -->



{% endblock %}