{% extends 'base.html' %}

{% load static %}


{% block content %}

<!-- Main Section Start -->
<div class="main-section pt-5">
       <div class="page-section">
        <div class="container">
            <div class="row">
               
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="tabs-holder horizontal">
                        <ul class="stickynav-tabs nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#home"> <i class="fa fa-shopping-cart"></i>Billing Address</a></li>
                            
                        </ul>
                        <div class="tab-content">
                            <div id="home" class="tab-pane in active">
                                <div class="menu-itam-holder">
                                   
                                    
                                    <div id="menu-item-list-6272" class="menu-itam-list">
                                        
                                        <form action="{% url 'place_order' %}" method="POST">
                                            {% csrf_token %}

                                            <div class="row">
                                                <div class="form-group col-md-6 col-sm-12 col-lg-6">
                                                    First Name: {{form.first_name}}
                                                </div>
                                                <div class="form-group col-md-6 col-sm-12 col-lg-6">
                                                    Last Name: {{form.last_name}}
                                                </div>
                                                <div class="form-group col-md-6 col-sm-12 col-lg-6">
                                                    Email Address: {{form.email}}
                                                </div>
                                                <div class="form-group col-md-6 col-sm-12 col-lg-6">
                                                    County: {{form.county}}
                                                </div>
                                                <div class="form-group col-md-6 col-sm-12 col-lg-6">
                                                    Town: {{form.town}}
                                                </div>
                                                <div class="form-group col-md-6 col-sm-12 col-lg-6">
                                                    Pin-code: {{form.pin_code}}
                                                </div>
                                            </div>
                                       

                                    </div>

                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>


                <!-- Order Section -->

                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="tabs-holder horizontal">
                        <ul class="stickynav-tabs nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#home"><i class="icon- icon-room_service"></i>Your Order</a></li>
                            
                        </ul>
                        <div class="tab-content">
                            <div id="home" class="tab-pane in active">
                                <div class="menu-itam-holder">
                                    <div id="menu-item-list-6272" class="menu-itam-list">
                                        <ul>
                                            {% for item in cart_items %}
                                            <li id= "cart-item-{{item.id}}">
                                                <div class="image-holder"><img src="{{item.product.image.url}}" width="65" height="65" alt=""></div>
                                                <div class="text-holder">
                                                    <h6>{{item.product.bottle_size}}</h6>
                                                    <span>{{item.product.description}}</span>
                                                    <a href="{% url 'supplier_detail' item.product.supplier.supplier_slug %}" class="badge badge-warning">{{item.product.supplier}}</a>
                                                </div>
                                                
                                                <div class="quantity" >
                                                    <span>QUANTITY ({{ item.quantity }})</span>
                                                </div>
                                                <div class="price-holder">
                                                    <span class="price">Ksh{{ item.product.price }}</span>
                                                </div>
                                            </li>
                                            {% endfor %}
                                            
                                        </ul>                                        

                                    </div>
                                    
                                    <div>
                                        <ul>
                                            <li style="list-style-type: none;">
                                                Subtotal
                                                <span class="price float-right">
                                                    <span class="currency" >Ksh</span>
                                                    <span id="subtotal">{{subtotal}}</span>
                                                </span>
                                            </li>

                                            <!-- Loop Through The Tax Dictionary Items -->

                                            {% for key, value in tax_dict.items %}
                                                {% for i, j in value.items %}
                                                    <li style="list-style-type: none;">
                                                        {{ key }} <small>({{ i }}%)</small>
                                                        <span class="price float-right">
                                                            <span class="currency" >Ksh</span>
                                                            <span id="tax-{{ key }}">{{ j }}</span>
                                                        </span>
                                                    </li>
                                                {% endfor %}
                                            {% endfor %}


                                            <li style="list-style-type: none; font-weight: 700;">
                                                TOTAL
                                                <span class="price float-right">
                                                    <span class="currency" >Ksh</span>
                                                    <span id="total">{{grand_total}}</span>
                                                </span>
                                            </li>

                                            <!-- Select Payment Method -->
                                            <h5>SELECT PAYMENT METHOD</h5>
                                            <div class="payment-method">
                                                <!-- <label>
                                                    <input type="radio" name="payment_method" value="M-PESA">
                                                    <img src="{% static 'images/M-PESA_LOGO-01.svg.png' %}" alt="M-PESA" width="100"> 
                                                </label> -->
                                                <label>
                                                    <input type="radio" name="payment_method" value="PayPal">
                                                    <img src="{% static 'images/PayPal.png' %}" alt="PayPal" width="100">
                                                </label>
                                            </div>
                                            <span class="text-danger" id="payment-method-error"></span>
                                            <button onclick="return payMethodConfirm();" type="submit" class="btn btn-danger w-100 p-2 mt-3">PLACE ORDER</button>
                                        </ul>

                                         </form>

                                        <!-- End Form -->
                                    </div>
                              
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
<!-- Main Section End -->

<script>
    function payMethodConfirm(){
        // alert('test');
        var payMethod = $("input[name = 'payment_method']:checked").val()
        if(!payMethod){
            // alert('nothing selected');
            $('#payment-method-error').html("Select Payment Method!")
            return false;
        }else{
            var conf = confirm('You have selected '+payMethod+' as your preferred payment method.\nClick "OK" to continue')
            if(conf == true){
                return true;
            }else{
                return false;
            }
        }    
    }
    // Hide 'Select Payment Method' once a payment method has been selected 
    $('input[name=payment_method]').on('change', function(){
        $('#payment-method-error').html("");
    })
</script>


{% endblock %}