{% extends 'base.html' %}

{% load static %}


{% block content %}

<div class="main-section">
    <div class="page-section nopadding cs-nomargin" style="margin-top: 0px;padding-top: 60px;padding-bottom: 10px;margin-bottom: 0px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="row">
                        <aside class="col-lg-2 col-md-2 col-sm-12 col-xs-12">

                        </aside>
                        <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                            <div class="listing-sorting-holder">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <h4>{{supplier_count}} Water Shops found</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="listing simple">
                                <ul>
                                    {% for supplier in suppliers %}
                                    <li style="line-height: 15px;">
                                        <div class="img-holder">
                                            <figure>
                                                {% if supplier.user_profile.profile_picture %}
											<a href="{% url 'supplier_detail' supplier.supplier_slug %}">
												<img src="{{supplier.user_profile.profile_picture.url}}" class="img-thumb wp-post-image" alt="" width="95px" height="95px">
											</a>
											{% else %}
											<a href="{% url 'supplier_detail' supplier.supplier_slug %}">
												<img src="{% static 'extra-images/mineralwater2.jpg' %}" class="attachment-full size-full wp-post-image" alt="">
											</a>
											{% endif %}
                                            </figure>
                                            {% if supplier.is_open %}
                                            <span class="restaurant-status open"><em class="bookmarkRibbon"></em>Open</span>
                                            {% else %}
                                            <span class="restaurant-status close"><em class="bookmarkRibbon"></em>Closed</span>
                                            {% endif %}
                                        </div>
                                        <div class="text-holder">
                                            <div class="list-rating">


                                            </div>
                                            <div class="post-title">
                                                <h5>
                                                    <a href="{% url 'supplier_detail' supplier.supplier_slug %}"> {{supplier.supplier_name}}</a>
                                                </h5>
                                            </div>
                                            {% if supplier.user_profile.county and supplier.user_profile.town and supplier.user_profile.address and supplier.user_profile.pin_code %}
											<span><small class="text-muted">{{supplier.user_profile.county}}, {{supplier.user_profile.town}}, {{supplier.user_profile.address}}-{{supplier.user_profile.pin_code}}</small></span>
										{% endif %}


                                        </div>
                                        <div class="list-option">

                                            <a href="{% url 'supplier_detail' supplier.supplier_slug %}" class="viewmenu-btn text-color">View Services</a>
                                        </div>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>

                        </div>
                        <div class="section-sidebar col-lg-3 col-md-3 col-sm-12 col-xs-12">
                            <div class="message-box" style="background-color: #00E7FF;">
                                <strong>I'm not Listed!</strong><span>is your water
                                    business not
                                    listed here</span>
                                <a href="{% url 'registerSupplier' %}" class="request-btn">Add Your business!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}