{% extends 'base.html' %}

{% load static %}


{% block content %}

<!-- Main Section Start -->
<div class="main-section">
    <div class="page-section restaurant-detail-image-section" style="background: url({% if supplier.user_profile.cover_photo %} {{ supplier.user_profile.cover_photo.url }} {% else %} {% static 'images/paid.png' %} {% endif %}) no-repeat scroll 0 0 / cover;">
        <!-- Container Start -->
        <div class="container">
            <!-- Row Start -->
            <div class="row">
                <!-- Column Start -->
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="company-info-detail">
                        <div class="company-info">
                            <div class="img-holder">
                                <figure>
                                    {% if supplier.user_profile.profile_picture %}
                                        <img src="{{ supplier.user_profile.profile_picture.url }}" alt="profile-picture"> 
                                    {% else %}
                                        <img src="{% static 'logo/waterlogo.jpg' %}" alt="profile-picture">
                                    {% endif %}
                                        
                                </figure>
                            </div>
                            <div class="text-holder">
                                <span class="restaurant-title">{{ supplier.supplier_name }} {% if not supplier.is_open %}[Closed]{% endif %}</span>
                               
                            </div>
                        </div>

                        {% if opening_hours %}
                        <div class="delivery-timing reviews-sortby">
                            
                            <ul>
                                <li>
                                    <a href="#" class="reviews-sortby-active">
                                        <span>Today :</span>
                                        {% for i in current_opening_hours %}
                                        {% if i.is_closed %}Closed{% else %}{{ i.from_hour }} - {{ i.to_hour }}{% endif %}                                        {% endfor %}
                                        <i class="icon-chevron-small-down"></i>
                                    </a>
                                    <ul class="delivery-dropdown">
                                        {% for hour in opening_hours %}
                                        <li><a href="#"><span class="opend-day">{{hour}}</span> <span class="opend-time"><small>:</small> {% if hour.is_closed %}Closed{% else %}{{hour.from_hour}} - {{hour.to_hour}}{% endif %}</span></a></li>
                                        {% endfor %}
                                        
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        {% endif %}

                    </div>
                </div>
                <!-- Column End -->
            </div>
            <!-- Row End -->
        </div>
        <!-- Container End -->
    </div>

    <div class="page-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 sticky-sidebar">
                   
                    <div class="filter-wrapper">
                        <div class="categories-menu">
                            <h6><i class="fa fa-tint"></i>Water Type</h6>
                            <ul class="menu-list">
                                {% for type in water_type %}
                                    <li class="active"><a href="#" class="menu-category-link"> {{type}} </a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
                    <div class="tabs-holder horizontal">
                        <ul class="stickynav-tabs nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#home"><i class="icon- icon-room_service"></i>Products</a></li>
                            
                        </ul>
                        <div class="tab-content">
                            <div id="home" class="tab-pane in active">
                                <div class="menu-itam-holder">
                                    
                                    <div id="menu-item-list-6272" class="menu-itam-list">
                                        
                                        {% for type in water_type %}
                                        <div class="element-title" id="menu-category-2">
                                            <h5 class="text-color">{{type}}</h5>
                                            <span>{{type.description}}</span>
                                        </div>
                                        <ul>
                                            {% for prod in type.products.all %}
                                            <li>
                                                <div class="image-holder"><img src="{{prod.image.url}}" alt=""></div>
                                                <div class="text-holder">
                                                    <h6>{{prod.bottle_size}}</h6>
                                                    <span>{{prod.description}}</span>
                                                </div>
                                                <div class="price-holder">
                                                    <span class="price">Ksh {{prod.price}}</span>
                                                    <a href="#" class="decrease_cart" data-id="{{ prod.id }}" data-url="{% url 'decrease_cart' prod.id %}" style="margin-right: 28px;"><i class="icon-minus" style="color: red;"></i></a>
                                                    <label id="qty-{{prod.id}}">0</label>
                                                    <a href="#" class="add_to_cart" data-id="{{ prod.id }}" data-url="{% url 'add_to_cart' prod.id %}"><i class="icon-plus text-color"></i></a>

                                                </div>
                                            </li>
                                            {% endfor %}
                                            
                                        </ul>

                                        {% endfor %}
                                        
                                    </div>

                                    {% for item in cart_items %}
                                    <span id="qty-{{item.product.id}}" class="item_qty d-none" data-qty="{{item.quantity}}"></span>


                                    {% endfor %}


                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
<!-- Main Section End -->


{% endblock %}