{% extends 'base.html' %}
{% load static %}

{% block content %}

{% include 'includes/alerts.html' %}
<p>My Water Shop Page</p>
<!-- Main Section Start -->
<div class="main-section">
    {% include 'includes/cover.html' %}
    <div class="page-section account-header buyer-logged-in">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">

                    <!-- LOAD SIDEBAR -->

                    {% include 'includes/supplier_sidebar.html' %}

                    
                </div>
                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                    <div class="user-dashboard loader-holder">
                        <div class="user-holder">
                            
                            <h5 class="text-uppercase">Services Offered by {{supplier.supplier_name}}</h5>
									<!-- My Restaurants Form Start -->
									
                         
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Main Section End -->
{% endblock %}