<div class="user-account-nav user-account-sidebar">
    <div class="user-nav-list">
        <ul>
            <li class="{% if '/supplierDashboard/' == request.path or '/supplier/' == request.path %} active {% endif %}"><a href="{% url 'supplierDashboard' %}"><i class="icon-dashboard3"></i>Dashboard</a></li>
            <li class="{% if 'profile' in request.path %} active {% endif %}"><a href="{% url 'supplierProfile' %}"><i class="icon-building"></i>Profile</a></li>
            <li class="{% if 'qr-code' in request.path %} active {% endif %}"><a href="{% url 'supplier_qr_code' %}"><i class="icon-qrcode"></i>QR Code</a></li>
            <li class="{% if 'services' in request.path %} active {% endif %}" ><a href="{% url 'services' %}"><i class="icon-menu5"></i>Services</a></li>
            <li class="{% if 'opening-hour' in request.path %} active {% endif %}" ><a href="{% url 'opening_hours' %}"><i class="icon-clock"></i>Opening Hours</a></li>
            <li class="{% if 'my_orders' in request.path %} active {% endif %}"><a href="{% url 'supplier_my_orders' %}"><i class="icon-add_shopping_cart"></i>Orders</a></li>
            <!-- <li><a href="restaurant-earnings.html"><i class="icon-money"></i>Earnings</a></li> -->
            <!-- <li><a href="restaurant-statement.html"><i class="icon-file-text22"></i>Statement</a></li> -->
            <li class="{% if '/change_password/' in request.path %} active {% endif %}"><a href="{% url 'change_password' %}"><i class="icon-unlock-alt"></i>Change Password</a></li>
            <li><a class="logout-btn" href="{% url 'logout' %}"><i class="icon-log-out"></i>Signout</a></li>
        </ul>
    </div>
</div>
